.homePage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.searchBar {
  border-bottom: 3px solid #efefef;
  padding: 20px;
  display: flex;
}
.searchIcon {
  font-size: 24px;
  vertical-align: middle;
}
.input {
  height: 24px;
  vertical-align: middle;
  font-size: 24px;
  padding: 0;
  border: 0;
  line-height: 24px;
  margin-left: 12px;
  background-color: transparent;
  flex: 1 1 0;
}
.input:focus {
  outline: none;
}
.result {
  flex-grow: 1;
  height: 0;
  display: flex;
  padding-bottom: 8px;
}
.listUser {
  height: 100%;
  overflow-y: scroll;
  flex: 1;
}
.user {
  display: flex;
  padding: 12px 20px;
  line-height: 24px;
  font-size: 24px;
  align-items: center;
  img {
    border-radius: 100%;
    margin-right: 16px;
  }
  .username {
    color: #6a6d7a;
    margin-left: 16px;
    text-decoration: none;
  }
  &:hover {
    background-color: #f9fbfc;
    cursor: pointer;
  }
}
//.higlight {
//  flex: 1;
//  border-left: 3px solid #efefef;
//}
